/* BCIT COLOURS
#003c71 BCIT BLue
#fff234 BCIT Yellow
#3683f7 BCIT Blue (Used in links)*/

button#event-set-complete {
    display: block;
}

button#event-set-incomplete {
    display: none;
}

div#event-container {
    display: none;
}

span#event-completed {
    display: none;
    color: green;
}

/* orginal add_event.html CSS */

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.textfield_inputs {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
}

.combo_boxes {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
}

.text_area {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
}

.text_area_description {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
}

.date_picker {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
}

.col-10 {
    padding-left: 0px;
    margin-bottom: 10px;
}

.check_boxes {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
}

/* orginal edit_event.html CSS */

#btns{
    text-align: center;
}

/* orginal add_note.html css */
h1{
    text-align: center;
}

#note_box{
    border: 2px solid black;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}

#text_area{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}

#submit{
    position:  relative;
    margin-top: 30px;
    text-align: center;
    width: auto;
    height: auto;
    margin-bottom: auto;
}

/* orginal add_set_success.html CSS */

#successful_submission{
    border: 2px solid black;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}

#upload_prompt{
    text-align: center;
    color: green;
    font-size:xx-large;
    font-weight: 500;
}

#link{
    float: right;
    margin-right: 30px;
}

/* orginal admin_assginment_list CSS*/

.assign_list {
    text-align: left;
    margin-left: 40px;
}

.data_list {
    text-align: left;
}

.inner_container:hover{
    background-color: rgb(220, 221, 221);
}

/* orginal admin.html CSS */

#instructor{
    text-align: center;
}

#Instructor_image {
    margin: auto;
    height: 100px;
    width: 140px;
}

#personal_info {
    margin-top: 20px;
    text-align: center;
}

#assignment_buttons {
    text-align: center;
    width: auto;
    height: auto;
}

/* NEW CSS */

nav {
    background-color: #003c71;
}

.card {
    margin: auto;
    margin-top: 50px;
    width: 80%;
    max-width: 960px;
}

.btn {
    margin: 20px;
    float: right;
}

.card-header {
    background-color: #003c71;
    color: #fff;
}

.card-body :hover{
    cursor: pointer;
}

.completion-image{
    width: 50px;
    float: right;
    border-radius: 50%;

}
.mark-as-complete{
    border-radius: 50%;
    color:antiquewhite;
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-left: 5px;  
    margin-bottom: 5px; 
    float: right;
}
.set-container{
    text-align: center;
}

#set-radios{
    margin-top: 50px;
}

.save-set{
    text-align: center;
}

.image-containers{
    height: 60px;
}



